<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    body {
        background-color: black;
    }
    div {
        background-color: black;
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: white;
        font-size: 40pt;
    }
    p {
        color: white;
        font-size: 24pt;
    }
</style>
<body>
    <div>
        <h1>BENIS</h1><br>
        <p>ES :D</p>
    </div>
</body>