<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    body {
        background-color: black;
    }
    div {
        background-color: black;
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: white;
        font-size: 40pt;
    }
    button {
        padding: 20px;
        border-radius: 32px;
        background-color:lightgreen;
        font-size: 20pt;
    }

</style>
<body>
    <div>
        <h1>LEADERBOARD</h1>
        <button><a href="{{ url_for('index') }}" style="text-decoration: none">Back</a></button>
    </div>
</body>